body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #fff;
      margin: 0; 
      display: flex;
      min-height: 100vh;
  }
  
  .left-dashboard {
      background-color: #1E1E1E;
      width: 15%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 20px;
      box-sizing: border-box;
      color: rgb(105, 227, 255);
  }
  
  .left-dashboard h1 {
      margin-bottom: 40px;
      text-align: center;
  }
  
  .left-dashboard ul {
      list-style-type: none;
      padding: 0;
  }
  
  .left-dashboard ul li {
      margin-bottom: 20px;
  }
  
  .left-dashboard ul li a {
      color: rgb(48, 214, 255);
      text-decoration: none;
      font-size: 18px;
      transition: ease-out 0.5s;
  
  }
  
  .left-dashboard ul li a:hover {
      color: rgb(255, 0, 221);
      transition: ease-out 0.5s;
  }
  
  .left-dashboard ul li a:focus {
      color: rgb(174, 0, 255);
      transition: ease-out 0.5s;
  }
  
  
  #navb {
      font-size: 10px;
  }
  
  .tabel {
      margin-left: 15%; 
      width: 85%; 
      display: flex;
      flex-direction: column; 
      align-items: center;    
      justify-content: flex-start; 
      height: auto; 
      padding: 20px;
  }
  
  .section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: #1E1E1E;
      font-weight: 600;
      padding: 20px;
      width: 100%;
      margin-bottom: 20px; 
      background-color: rgb(88, 216, 218);
      border-radius: 16px;
      box-shadow: 5px 5px 10px 1px #000000;
  }
  
  table {
      width: 100%;
      border-collapse: collapse;
  }
  
  th {
      background-color: #1E1E1E;
      color: white;
      padding: 10px;
      border-radius: 16px;
  }
  
  td {
      padding: 10px;
      border: 1px solid #ddd;
  }
  
  table, th, td {
      border: none;
  }
  
  ::-webkit-scrollbar {
      width: 15px;
  }
  
  ::-webkit-scrollbar-track {
      background: #fff;  
      border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
      background-color: #1E1E1E;
      border-radius: 10px;  
  }
  
  .sm {
      text-align: center;
  }
  
  a {
      text-decoration: none;
      color: #1E1E1E;
  }